In [1]:
import pandas as pd
import numpy as np
import json
import tweepy

## Twitter API
**Extarct the new information from twitter by tweepy and save them in json File**

In [2]:
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [31]:
consumer_key = os.environ.get('CONSUMER_KEY')
consumer_secret = os.environ.get('CONSUMER_SECRET')

#access_token = os.environ.get('ACCESS_TOKEN')
#access_secret = os.environ.get('ACCESS_SECRET')

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
#auth.set_access_token(access_token, access_secret)
redirect_url = auth.get_authorization_url()
print(redirect_url)

https://api.twitter.com/oauth/authorize?oauth_token=RHKgjgAAAAABIujjAAABdSiPeX8

In [34]:
auth.get_access_token('#####')

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [43]:
# Extract retweet_count and favorite_count and save them in tweet-json.txt file

keys = ['id', 'retweet_count', 'favorite_count']
tweets_id = twitter_archive.tweet_id
tweets_info = []
length = len(tweets_id)
errors = {}

for i,t_id in enumerate(tweets_id):
    
    try:
        tweet = api.get_status(t_id, tweet_mode='extended')._json
        tweet_dict = {key : tweet[key] for key in keys}
        tweets_info.append(tweet_dict)
        print(f"Success ({i}/{length})")
    except tweepy.TweepError as e:
        errors[t_id] = e
        print(f"Fail ({i}/{length})")
    
with open('tweet-json.txt', 'w') as f:
    json.dump(tweets_info, f)

Success (0/2356)
Success (1/2356)
Success (2/2356)
Success (3/2356)
Success (4/2356)
Success (5/2356)
Success (6/2356)
Success (7/2356)
Success (8/2356)
Success (9/2356)
Success (10/2356)
Success (11/2356)
Success (12/2356)
Success (13/2356)
Success (14/2356)
Success (15/2356)
Success (16/2356)
Success (17/2356)
Success (18/2356)
Fail (19/2356)
Success (20/2356)
Success (21/2356)
Success (22/2356)
Success (23/2356)
Success (24/2356)
Success (25/2356)
Success (26/2356)
Success (27/2356)
Success (28/2356)
Success (29/2356)
Success (30/2356)
Success (31/2356)
Success (32/2356)
Success (33/2356)
Success (34/2356)
Success (35/2356)
Success (36/2356)
Success (37/2356)
Success (38/2356)
Success (39/2356)
Success (40/2356)
Success (41/2356)
Success (42/2356)
Success (43/2356)
Success (44/2356)
Success (45/2356)
Success (46/2356)
Success (47/2356)
Success (48/2356)
Success (49/2356)
Success (50/2356)
Success (51/2356)
Success (52/2356)
Success (53/2356)
Success (54/2356)
Success (55/2356)
Success (56/2356)
Success (57/2356)
Success (58/2356)
Success (59/2356)
Success (60/2356)
Success (61/2356)
Success (62/2356)
Success (63/2356)
Success (64/2356)
Success (65/2356)
Success (66/2356)
Success (67/2356)
Success (68/2356)
Success (69/2356)
Success (70/2356)
Success (71/2356)
Success (72/2356)
Success (73/2356)
Success (74/2356)
Success (75/2356)
Success (76/2356)
Success (77/2356)
Success (78/2356)
Success (79/2356)
Success (80/2356)
Success (81/2356)
Success (82/2356)
Success (83/2356)
Success (84/2356)
Success (85/2356)
Success (86/2356)
Success (87/2356)
Success (88/2356)
Success (89/2356)
Success (90/2356)
Success (91/2356)
Success (92/2356)
Success (93/2356)
Success (94/2356)
Fail (95/2356)
Success (96/2356)
Success (97/2356)
Success (98/2356)
Success (99/2356)
Success (100/2356)
Fail (101/2356)
Success (102/2356)
Success (103/2356)
Fail (104/2356)
Success (105/2356)
Success (106/2356)
Success (107/2356)
Success (108/2356)
Success (109/2356)
Success (110/2356)
Success (111/2356)
Success (112/2356)
Success (113/2356)
Success (114/2356)
Success (115/2356)
Success (116/2356)
Success (117/2356)
Fail (118/2356)
Success (119/2356)
Success (120/2356)
Success (121/2356)
Success (122/2356)
Success (123/2356)
Success (124/2356)
Success (125/2356)
Success (126/2356)
Success (127/2356)
Success (128/2356)
Success (129/2356)
Success (130/2356)
Success (131/2356)
Fail (132/2356)
Success (133/2356)
Success (134/2356)
Success (135/2356)
Success (136/2356)
Success (137/2356)
Success (138/2356)
Success (139/2356)
Success (140/2356)
Success (141/2356)
Success (142/2356)
Success (143/2356)
Success (144/2356)
Success (145/2356)
Success (146/2356)
Success (147/2356)
Success (148/2356)
Success (149/2356)
Success (150/2356)
Success (151/2356)
Success (152/2356)
Success (153/2356)
Success (154/2356)
Fail (155/2356)
Success (156/2356)
Success (157/2356)
Success (158/2356)
Success (159/2356)
Success (160/2356)
Success (161/2356)
Success (162/2356)
Success (163/2356)
Success (164/2356)
Success (165/2356)
Success (166/2356)
Success (167/2356)
Success (168/2356)
Success (169/2356)
Success (170/2356)
Success (171/2356)
Success (172/2356)
Success (173/2356)
Success (174/2356)
Success (175/2356)
Success (176/2356)
Success (177/2356)
Success (178/2356)
Success (179/2356)
Success (180/2356)
Success (181/2356)
Fail (182/2356)
Success (183/2356)
Success (184/2356)
Success (185/2356)
Success (186/2356)
Success (187/2356)
Success (188/2356)
Success (189/2356)
Success (190/2356)
Success (191/2356)
Success (192/2356)
Success (193/2356)
Success (194/2356)
Success (195/2356)
Success (196/2356)
Success (197/2356)
Success (198/2356)
Success (199/2356)
Success (200/2356)
Success (201/2356)
Success (202/2356)
Success (203/2356)
Success (204/2356)
Success (205/2356)
Success (206/2356)
Success (207/2356)
Success (208/2356)
Success (209/2356)
Success (210/2356)
Fail (211/2356)
Success (212/2356)
Success (213/2356)
Success (214/2356)
Success (215/2356)
Success (216/2356)
Success (217/2356)
Success (218/2356)
Success (219/2356)
Success (220/2356)
Success (221/2356)
Success (222/2356)
Success (223/2356)
Success (224/2356)
Success (225/2356)
Success (226/2356)
Success (227/2356)
Success (228/2356)
Success (229/2356)
Success (230/2356)
Success (231/2356)
Success (232/2356)
Success (233/2356)
Success (234/2356)
Success (235/2356)
Success (236/2356)
Success (237/2356)
Success (238/2356)
Success (239/2356)
Success (240/2356)
Success (241/2356)
Success (242/2356)
Success (243/2356)
Success (244/2356)
Success (245/2356)
Success (246/2356)
Fail (247/2356)
Success (248/2356)
Success (249/2356)
Success (250/2356)
Success (251/2356)
Success (252/2356)
Fail (253/2356)
Success (254/2356)
Success (255/2356)
Success (256/2356)
Success (257/2356)
Success (258/2356)
Success (259/2356)
Fail (260/2356)
Success (261/2356)
Success (262/2356)
Success (263/2356)
Success (264/2356)
Success (265/2356)
Success (266/2356)
Success (267/2356)
Success (268/2356)
Success (269/2356)
Success (270/2356)
Success (271/2356)
Success (272/2356)
Success (273/2356)
Success (274/2356)
Success (275/2356)
Success (276/2356)
Success (277/2356)
Success (278/2356)
Success (279/2356)
Success (280/2356)
Success (281/2356)
Success (282/2356)
Success (283/2356)
Success (284/2356)
Success (285/2356)
Success (286/2356)
Success (287/2356)
Success (288/2356)
Success (289/2356)
Success (290/2356)
Success (291/2356)
Success (292/2356)
Success (293/2356)
Success (294/2356)
Success (295/2356)
Fail (296/2356)
Success (297/2356)
Fail (298/2356)
Success (299/2356)
Success (300/2356)
Success (301/2356)
Success (302/2356)
Success (303/2356)
Success (304/2356)
Success (305/2356)
Success (306/2356)
Success (307/2356)
Success (308/2356)
Success (309/2356)
Success (310/2356)
Success (311/2356)
Success (312/2356)
Success (313/2356)
Success (314/2356)
Success (315/2356)
Success (316/2356)
Success (317/2356)
Success (318/2356)
Success (319/2356)
Success (320/2356)
Success (321/2356)
Success (322/2356)
Success (323/2356)
Success (324/2356)
Success (325/2356)
Success (326/2356)
Success (327/2356)
Success (328/2356)
Success (329/2356)
Success (330/2356)
Success (331/2356)
Success (332/2356)
Success (333/2356)
Success (334/2356)
Success (335/2356)
Success (336/2356)
Success (337/2356)
Success (338/2356)
Success (339/2356)
Success (340/2356)
Success (341/2356)
Success (342/2356)
Success (343/2356)
Success (344/2356)
Success (345/2356)
Success (346/2356)
Success (347/2356)
Success (348/2356)
Success (349/2356)
Success (350/2356)
Success (351/2356)
Success (352/2356)
Success (353/2356)
Success (354/2356)
Success (355/2356)
Success (356/2356)
Success (357/2356)
Success (358/2356)
Success (359/2356)
Success (360/2356)
Success (361/2356)
Success (362/2356)
Fail (363/2356)
Success (364/2356)
Success (365/2356)
Success (366/2356)
Success (367/2356)
Success (368/2356)
Success (369/2356)
Success (370/2356)
Success (371/2356)
Success (372/2356)
Success (373/2356)
Success (374/2356)
Success (375/2356)
Success (376/2356)
Success (377/2356)
Success (378/2356)
Success (379/2356)
Success (380/2356)
Success (381/2356)
Fail (382/2356)
Success (383/2356)
Success (384/2356)
Success (385/2356)
Success (386/2356)
Success (387/2356)
Success (388/2356)
Success (389/2356)
Success (390/2356)
Success (391/2356)
Success (392/2356)
Success (393/2356)
Success (394/2356)
Success (395/2356)
Success (396/2356)
Success (397/2356)
Success (398/2356)
Success (399/2356)
Success (400/2356)
Success (401/2356)
Success (402/2356)
Success (403/2356)
Success (404/2356)
Success (405/2356)
Success (406/2356)
Success (407/2356)
Success (408/2356)
Success (409/2356)
Success (410/2356)
Success (411/2356)
Success (412/2356)
Success (413/2356)
Success (414/2356)
Success (415/2356)
Success (416/2356)
Success (417/2356)
Success (418/2356)
Success (419/2356)
Success (420/2356)
Success (421/2356)
Success (422/2356)
Success (423/2356)
Success (424/2356)
Success (425/2356)
Success (426/2356)
Success (427/2356)
Success (428/2356)
Success (429/2356)
Success (430/2356)
Success (431/2356)
Success (432/2356)
Success (433/2356)
Success (434/2356)
Success (435/2356)
Success (436/2356)
Success (437/2356)
Success (438/2356)
Success (439/2356)

Success (440/2356)
Success (441/2356)
Success (442/2356)
Success (443/2356)
Success (444/2356)
Success (445/2356)
Success (446/2356)
Success (447/2356)
Success (448/2356)
Success (449/2356)
Success (450/2356)
Success (451/2356)
Success (452/2356)
Success (453/2356)
Success (454/2356)
Success (455/2356)
Success (456/2356)
Success (457/2356)
Success (458/2356)
Success (459/2356)
Success (460/2356)
Success (461/2356)
Success (462/2356)
Success (463/2356)
Success (464/2356)
Success (465/2356)
Success (466/2356)
Success (467/2356)
Success (468/2356)
Success (469/2356)
Success (470/2356)
Success (471/2356)
Success (472/2356)
Success (473/2356)
Success (474/2356)
Success (475/2356)
Success (476/2356)
Success (477/2356)
Success (478/2356)
Success (479/2356)
Success (480/2356)
Success (481/2356)
Success (482/2356)
Success (483/2356)
Success (484/2356)
Success (485/2356)
Success (486/2356)
Success (487/2356)
Success (488/2356)
Success (489/2356)
Success (490/2356)
Success (491/2356)
Success (492/2356)
Success (493/2356)
Success (494/2356)
Success (495/2356)
Success (496/2356)
Success (497/2356)
Success (498/2356)
Success (499/2356)
Success (500/2356)
Success (501/2356)
Success (502/2356)
Success (503/2356)
Success (504/2356)
Success (505/2356)
Fail (506/2356)
Success (507/2356)
Success (508/2356)
Success (509/2356)
Success (510/2356)
Success (511/2356)
Success (512/2356)
Success (513/2356)
Success (514/2356)
Success (515/2356)
Success (516/2356)
Success (517/2356)
Success (518/2356)
Success (519/2356)
Success (520/2356)
Success (521/2356)
Success (522/2356)
Success (523/2356)
Success (524/2356)
Success (525/2356)
Success (526/2356)
Success (527/2356)
Success (528/2356)
Success (529/2356)
Success (530/2356)
Success (531/2356)
Success (532/2356)
Success (533/2356)
Success (534/2356)
Success (535/2356)
Success (536/2356)
Success (537/2356)
Success (538/2356)
Success (539/2356)
Success (540/2356)
Success (541/2356)
Success (542/2356)
Success (543/2356)
Success (544/2356)
Success (545/2356)
Success (546/2356)
Success (547/2356)
Success (548/2356)
Success (549/2356)
Success (550/2356)
Success (551/2356)
Success (552/2356)
Success (553/2356)
Success (554/2356)
Success (555/2356)
Success (556/2356)
Success (557/2356)
Success (558/2356)
Success (559/2356)
Success (560/2356)
Success (561/2356)
Success (562/2356)
Success (563/2356)
Success (564/2356)
Success (565/2356)
Fail (566/2356)
Success (567/2356)
Success (568/2356)
Success (569/2356)
Success (570/2356)
Success (571/2356)
Success (572/2356)
Success (573/2356)
Success (574/2356)
Success (575/2356)
Success (576/2356)
Success (577/2356)
Success (578/2356)
Success (579/2356)
Success (580/2356)
Success (581/2356)
Success (582/2356)
Success (583/2356)
Success (584/2356)
Success (585/2356)
Success (586/2356)
Success (587/2356)
Success (588/2356)
Success (589/2356)
Success (590/2356)
Success (591/2356)
Success (592/2356)
Success (593/2356)
Success (594/2356)
Success (595/2356)
Success (596/2356)
Success (597/2356)
Success (598/2356)
Success (599/2356)
Success (600/2356)
Success (601/2356)
Success (602/2356)
Success (603/2356)
Success (604/2356)
Success (605/2356)
Success (606/2356)
Success (607/2356)
Success (608/2356)
Success (609/2356)
Success (610/2356)
Success (611/2356)
Success (612/2356)
Success (613/2356)
Success (614/2356)
Success (615/2356)
Success (616/2356)
Success (617/2356)
Success (618/2356)
Success (619/2356)
Success (620/2356)
Success (621/2356)
Success (622/2356)
Success (623/2356)
Success (624/2356)
Success (625/2356)
Success (626/2356)
Success (627/2356)
Success (628/2356)
Success (629/2356)
Success (630/2356)
Success (631/2356)
Success (632/2356)
Success (633/2356)
Success (634/2356)
Success (635/2356)
Success (636/2356)
Success (637/2356)
Success (638/2356)
Success (639/2356)
Success (640/2356)
Success (641/2356)
Success (642/2356)
Success (643/2356)
Success (644/2356)
Success (645/2356)
Success (646/2356)
Success (647/2356)
Success (648/2356)
Success (649/2356)
Success (650/2356)
Success (651/2356)
Success (652/2356)
Success (653/2356)
Success (654/2356)
Success (655/2356)
Success (656/2356)
Success (657/2356)
Success (658/2356)
Success (659/2356)
Success (660/2356)
Success (661/2356)
Success (662/2356)
Success (663/2356)
Success (664/2356)
Success (665/2356)
Success (666/2356)
Success (667/2356)
Success (668/2356)
Success (669/2356)
Success (670/2356)
Success (671/2356)
Success (672/2356)
Success (673/2356)
Success (674/2356)
Success (675/2356)
Success (676/2356)
Success (677/2356)
Success (678/2356)
Success (679/2356)
Success (680/2356)
Success (681/2356)
Success (682/2356)
Success (683/2356)
Success (684/2356)
Success (685/2356)
Success (686/2356)
Success (687/2356)
Success (688/2356)
Success (689/2356)
Success (690/2356)
Success (691/2356)
Success (692/2356)
Success (693/2356)
Success (694/2356)
Success (695/2356)
Success (696/2356)
Success (697/2356)
Success (698/2356)
Success (699/2356)
Success (700/2356)
Success (701/2356)
Success (702/2356)
Success (703/2356)
Success (704/2356)
Success (705/2356)
Success (706/2356)
Success (707/2356)
Success (708/2356)
Success (709/2356)
Success (710/2356)
Success (711/2356)
Success (712/2356)
Success (713/2356)
Success (714/2356)
Success (715/2356)
Success (716/2356)
Success (717/2356)
Success (718/2356)
Success (719/2356)
Success (720/2356)
Success (721/2356)
Success (722/2356)
Success (723/2356)
Success (724/2356)
Success (725/2356)
Success (726/2356)
Success (727/2356)
Success (728/2356)
Success (729/2356)
Success (730/2356)
Success (731/2356)
Success (732/2356)
Success (733/2356)
Success (734/2356)
Success (735/2356)
Success (736/2356)
Success (737/2356)
Success (738/2356)
Success (739/2356)
Success (740/2356)
Success (741/2356)
Success (742/2356)
Success (743/2356)
Success (744/2356)
Success (745/2356)
Success (746/2356)
Success (747/2356)
Success (748/2356)
Success (749/2356)
Fail (750/2356)
Success (751/2356)
Success (752/2356)
Success (753/2356)
Success (754/2356)
Success (755/2356)
Success (756/2356)
Success (757/2356)
Success (758/2356)
Success (759/2356)
Success (760/2356)
Success (761/2356)
Success (762/2356)
Success (763/2356)
Success (764/2356)
Success (765/2356)
Success (766/2356)
Success (767/2356)
Success (768/2356)
Success (769/2356)
Success (770/2356)
Success (771/2356)
Success (772/2356)
Success (773/2356)
Success (774/2356)
Success (775/2356)
Success (776/2356)
Success (777/2356)
Success (778/2356)
Success (779/2356)
Success (780/2356)
Success (781/2356)
Success (782/2356)
Success (783/2356)
Fail (784/2356)
Success (785/2356)
Success (786/2356)
Success (787/2356)
Success (788/2356)
Success (789/2356)
Success (790/2356)
Success (791/2356)
Success (792/2356)
Success (793/2356)
Success (794/2356)
Success (795/2356)
Success (796/2356)
Success (797/2356)
Success (798/2356)
Success (799/2356)
Success (800/2356)
Success (801/2356)
Success (802/2356)
Success (803/2356)
Success (804/2356)
Success (805/2356)
Success (806/2356)
Success (807/2356)
Success (808/2356)
Success (809/2356)
Success (810/2356)
Success (811/2356)
Success (812/2356)
Success (813/2356)
Success (814/2356)
Fail (815/2356)
Success (816/2356)
Success (817/2356)
Fail (818/2356)
Success (819/2356)
Success (820/2356)
Success (821/2356)
Success (822/2356)
Success (823/2356)
Success (824/2356)
Success (825/2356)
Success (826/2356)
Success (827/2356)
Success (828/2356)

Rate limit reached. Sleeping for: 123

Success (829/2356)
Success (830/2356)
Success (831/2356)
Success (832/2356)
Success (833/2356)
Success (834/2356)
Success (835/2356)
Success (836/2356)
Success (837/2356)
Success (838/2356)
Success (839/2356)
Success (840/2356)
Success (841/2356)
Success (842/2356)
Success (843/2356)
Success (844/2356)
Success (845/2356)
Success (846/2356)
Success (847/2356)
Success (848/2356)
Success (849/2356)
Success (850/2356)
Success (851/2356)
Success (852/2356)
Success (853/2356)
Success (854/2356)
Success (855/2356)
Success (856/2356)
Success (857/2356)
Success (858/2356)
Success (859/2356)
Success (860/2356)
Success (861/2356)
Success (862/2356)
Success (863/2356)
Success (864/2356)
Success (865/2356)
Success (866/2356)
Success (867/2356)
Success (868/2356)
Success (869/2356)
Success (870/2356)
Success (871/2356)
Success (872/2356)
Success (873/2356)
Success (874/2356)
Success (875/2356)
Success (876/2356)
Success (877/2356)
Success (878/2356)
Success (879/2356)
Success (880/2356)
Success (881/2356)
Success (882/2356)
Success (883/2356)
Success (884/2356)
Success (885/2356)
Success (886/2356)
Success (887/2356)
Success (888/2356)
Success (889/2356)
Fail (890/2356)
Success (891/2356)
Success (892/2356)
Success (893/2356)
Success (894/2356)
Success (895/2356)
Success (896/2356)
Success (897/2356)
Success (898/2356)
Success (899/2356)
Success (900/2356)
Success (901/2356)
Success (902/2356)
Success (903/2356)
Success (904/2356)
Success (905/2356)
Success (906/2356)
Success (907/2356)
Success (908/2356)
Success (909/2356)
Success (910/2356)
Success (911/2356)
Success (912/2356)
Success (913/2356)
Success (914/2356)
Success (915/2356)
Success (916/2356)
Success (917/2356)
Success (918/2356)
Success (919/2356)
Success (920/2356)
Success (921/2356)
Success (922/2356)
Success (923/2356)
Success (924/2356)
Success (925/2356)
Success (926/2356)
Success (927/2356)
Success (928/2356)
Success (929/2356)
Success (930/2356)
Success (931/2356)
Fail (932/2356)
Success (933/2356)
Success (934/2356)
Success (935/2356)
Success (936/2356)
Success (937/2356)
Success (938/2356)
Success (939/2356)
Success (940/2356)
Success (941/2356)
Success (942/2356)
Success (943/2356)
Success (944/2356)
Success (945/2356)
Success (946/2356)
Success (947/2356)
Success (948/2356)
Success (949/2356)
Success (950/2356)
Success (951/2356)
Success (952/2356)
Success (953/2356)
Success (954/2356)
Success (955/2356)
Success (956/2356)
Success (957/2356)
Success (958/2356)
Success (959/2356)
Success (960/2356)
Success (961/2356)
Success (962/2356)
Success (963/2356)
Success (964/2356)
Success (965/2356)
Success (966/2356)
Success (967/2356)
Success (968/2356)
Success (969/2356)
Success (970/2356)
Success (971/2356)
Success (972/2356)
Success (973/2356)
Success (974/2356)
Success (975/2356)
Success (976/2356)
Success (977/2356)
Success (978/2356)
Success (979/2356)
Success (980/2356)
Success (981/2356)
Success (982/2356)
Success (983/2356)
Success (984/2356)
Success (985/2356)
Success (986/2356)
Success (987/2356)
Success (988/2356)
Success (989/2356)
Success (990/2356)
Success (991/2356)
Success (992/2356)
Success (993/2356)
Success (994/2356)
Success (995/2356)
Success (996/2356)
Success (997/2356)
Success (998/2356)
Success (999/2356)
Success (1000/2356)
Success (1001/2356)
Success (1002/2356)
Success (1003/2356)
Success (1004/2356)
Success (1005/2356)
Success (1006/2356)
Success (1007/2356)
Success (1008/2356)
Success (1009/2356)
Success (1010/2356)
Success (1011/2356)
Success (1012/2356)
Success (1013/2356)
Success (1014/2356)
Success (1015/2356)
Success (1016/2356)
Success (1017/2356)
Success (1018/2356)
Success (1019/2356)
Success (1020/2356)
Success (1021/2356)
Success (1022/2356)
Success (1023/2356)
Success (1024/2356)
Success (1025/2356)
Success (1026/2356)
Success (1027/2356)
Success (1028/2356)
Success (1029/2356)
Success (1030/2356)
Success (1031/2356)
Success (1032/2356)
Success (1033/2356)
Success (1034/2356)
Success (1035/2356)
Success (1036/2356)
Success (1037/2356)
Success (1038/2356)
Success (1039/2356)
Success (1040/2356)
Success (1041/2356)
Success (1042/2356)
Success (1043/2356)
Success (1044/2356)
Success (1045/2356)
Success (1046/2356)
Success (1047/2356)
Success (1048/2356)
Success (1049/2356)
Success (1050/2356)
Success (1051/2356)
Success (1052/2356)
Success (1053/2356)
Success (1054/2356)
Success (1055/2356)
Success (1056/2356)
Success (1057/2356)
Success (1058/2356)
Success (1059/2356)
Success (1060/2356)
Success (1061/2356)
Success (1062/2356)
Success (1063/2356)
Success (1064/2356)
Success (1065/2356)
Success (1066/2356)
Success (1067/2356)
Success (1068/2356)
Success (1069/2356)
Success (1070/2356)
Success (1071/2356)
Success (1072/2356)
Success (1073/2356)
Success (1074/2356)
Success (1075/2356)
Success (1076/2356)
Success (1077/2356)
Success (1078/2356)
Success (1079/2356)
Success (1080/2356)
Success (1081/2356)
Success (1082/2356)
Success (1083/2356)
Success (1084/2356)
Success (1085/2356)
Success (1086/2356)
Success (1087/2356)
Success (1088/2356)
Success (1089/2356)
Success (1090/2356)
Success (1091/2356)
Success (1092/2356)
Success (1093/2356)
Success (1094/2356)
Success (1095/2356)
Success (1096/2356)
Success (1097/2356)
Success (1098/2356)
Success (1099/2356)
Success (1100/2356)
Success (1101/2356)
Success (1102/2356)
Success (1103/2356)
Success (1104/2356)
Success (1105/2356)
Success (1106/2356)
Success (1107/2356)
Success (1108/2356)
Success (1109/2356)
Success (1110/2356)
Success (1111/2356)
Success (1112/2356)
Success (1113/2356)
Success (1114/2356)
Success (1115/2356)
Success (1116/2356)
Success (1117/2356)
Success (1118/2356)
Success (1119/2356)
Success (1120/2356)
Success (1121/2356)
Success (1122/2356)
Success (1123/2356)
Success (1124/2356)
Success (1125/2356)
Success (1126/2356)
Success (1127/2356)
Success (1128/2356)
Success (1129/2356)
Success (1130/2356)
Success (1131/2356)
Success (1132/2356)
Success (1133/2356)
Success (1134/2356)
Success (1135/2356)
Success (1136/2356)
Success (1137/2356)
Success (1138/2356)
Success (1139/2356)
Success (1140/2356)
Success (1141/2356)
Success (1142/2356)
Success (1143/2356)
Success (1144/2356)
Success (1145/2356)
Success (1146/2356)
Success (1147/2356)
Success (1148/2356)
Success (1149/2356)
Success (1150/2356)
Success (1151/2356)
Success (1152/2356)
Success (1153/2356)
Success (1154/2356)
Success (1155/2356)
Success (1156/2356)
Success (1157/2356)
Success (1158/2356)
Success (1159/2356)
Success (1160/2356)
Success (1161/2356)
Success (1162/2356)
Success (1163/2356)
Success (1164/2356)
Success (1165/2356)
Success (1166/2356)
Success (1167/2356)
Success (1168/2356)
Success (1169/2356)
Success (1170/2356)
Success (1171/2356)
Success (1172/2356)
Success (1173/2356)
Success (1174/2356)
Success (1175/2356)
Success (1176/2356)
Success (1177/2356)
Success (1178/2356)
Success (1179/2356)
Success (1180/2356)
Success (1181/2356)
Success (1182/2356)
Success (1183/2356)
Success (1184/2356)
Success (1185/2356)
Success (1186/2356)
Success (1187/2356)
Success (1188/2356)
Success (1189/2356)
Success (1190/2356)
Success (1191/2356)
Success (1192/2356)
Success (1193/2356)
Success (1194/2356)
Success (1195/2356)
Success (1196/2356)
Success (1197/2356)
Success (1198/2356)
Success (1199/2356)
Success (1200/2356)
Success (1201/2356)
Success (1202/2356)
Success (1203/2356)
Success (1204/2356)
Success (1205/2356)
Success (1206/2356)
Success (1207/2356)
Success (1208/2356)
Success (1209/2356)
Success (1210/2356)
Success (1211/2356)
Success (1212/2356)
Success (1213/2356)
Success (1214/2356)
Success (1215/2356)
Success (1216/2356)
Success (1217/2356)
Success (1218/2356)
Success (1219/2356)
Success (1220/2356)
Success (1221/2356)
Success (1222/2356)
Success (1223/2356)
Success (1224/2356)
Success (1225/2356)
Success (1226/2356)
Success (1227/2356)
Success (1228/2356)
Success (1229/2356)
Success (1230/2356)
Success (1231/2356)
Success (1232/2356)
Success (1233/2356)
Success (1234/2356)
Success (1235/2356)
Success (1236/2356)
Success (1237/2356)
Success (1238/2356)
Success (1239/2356)
Success (1240/2356)
Success (1241/2356)
Success (1242/2356)
Success (1243/2356)
Success (1244/2356)
Success (1245/2356)
Success (1246/2356)
Success (1247/2356)

Success (1248/2356)
Success (1249/2356)
Success (1250/2356)
Success (1251/2356)
Success (1252/2356)
Success (1253/2356)
Success (1254/2356)
Success (1255/2356)
Success (1256/2356)
Success (1257/2356)
Success (1258/2356)
Success (1259/2356)
Success (1260/2356)
Success (1261/2356)
Success (1262/2356)
Success (1263/2356)
Success (1264/2356)
Success (1265/2356)
Success (1266/2356)
Success (1267/2356)
Success (1268/2356)
Success (1269/2356)
Success (1270/2356)
Success (1271/2356)
Success (1272/2356)
Success (1273/2356)
Success (1274/2356)
Success (1275/2356)
Success (1276/2356)
Success (1277/2356)
Success (1278/2356)
Success (1279/2356)
Success (1280/2356)
Success (1281/2356)
Success (1282/2356)
Success (1283/2356)
Success (1284/2356)
Success (1285/2356)
Success (1286/2356)
Success (1287/2356)
Success (1288/2356)
Success (1289/2356)
Success (1290/2356)
Success (1291/2356)
Success (1292/2356)
Success (1293/2356)
Success (1294/2356)
Success (1295/2356)
Success (1296/2356)
Success (1297/2356)
Success (1298/2356)
Success (1299/2356)
Success (1300/2356)
Success (1301/2356)
Success (1302/2356)
Success (1303/2356)
Success (1304/2356)
Success (1305/2356)
Success (1306/2356)
Success (1307/2356)
Success (1308/2356)
Success (1309/2356)
Success (1310/2356)
Success (1311/2356)
Success (1312/2356)
Success (1313/2356)
Success (1314/2356)
Success (1315/2356)
Success (1316/2356)
Success (1317/2356)
Success (1318/2356)
Success (1319/2356)
Success (1320/2356)
Success (1321/2356)
Success (1322/2356)
Success (1323/2356)
Success (1324/2356)
Success (1325/2356)
Success (1326/2356)
Success (1327/2356)
Success (1328/2356)
Success (1329/2356)
Success (1330/2356)
Success (1331/2356)
Success (1332/2356)
Success (1333/2356)
Success (1334/2356)
Success (1335/2356)
Success (1336/2356)
Success (1337/2356)
Success (1338/2356)
Success (1339/2356)
Success (1340/2356)
Success (1341/2356)
Success (1342/2356)
Success (1343/2356)
Success (1344/2356)
Success (1345/2356)
Success (1346/2356)
Success (1347/2356)
Success (1348/2356)
Success (1349/2356)
Success (1350/2356)
Success (1351/2356)
Success (1352/2356)
Success (1353/2356)
Success (1354/2356)
Success (1355/2356)
Success (1356/2356)
Success (1357/2356)
Success (1358/2356)
Success (1359/2356)
Success (1360/2356)
Success (1361/2356)
Success (1362/2356)
Success (1363/2356)
Success (1364/2356)
Success (1365/2356)
Success (1366/2356)
Success (1367/2356)
Success (1368/2356)
Success (1369/2356)
Success (1370/2356)
Success (1371/2356)
Success (1372/2356)
Success (1373/2356)
Success (1374/2356)
Success (1375/2356)
Success (1376/2356)
Success (1377/2356)
Success (1378/2356)
Success (1379/2356)
Success (1380/2356)
Success (1381/2356)
Success (1382/2356)
Success (1383/2356)
Success (1384/2356)
Success (1385/2356)
Success (1386/2356)
Success (1387/2356)
Success (1388/2356)
Success (1389/2356)
Success (1390/2356)
Success (1391/2356)
Success (1392/2356)
Success (1393/2356)
Success (1394/2356)
Success (1395/2356)
Success (1396/2356)
Success (1397/2356)
Success (1398/2356)
Success (1399/2356)
Success (1400/2356)
Success (1401/2356)
Success (1402/2356)
Success (1403/2356)
Success (1404/2356)
Success (1405/2356)
Success (1406/2356)
Success (1407/2356)
Success (1408/2356)
Success (1409/2356)
Success (1410/2356)
Success (1411/2356)
Success (1412/2356)
Success (1413/2356)
Success (1414/2356)
Success (1415/2356)
Success (1416/2356)
Success (1417/2356)
Success (1418/2356)
Success (1419/2356)
Success (1420/2356)
Success (1421/2356)
Success (1422/2356)
Success (1423/2356)
Success (1424/2356)
Success (1425/2356)
Success (1426/2356)
Success (1427/2356)
Success (1428/2356)
Success (1429/2356)
Success (1430/2356)
Success (1431/2356)
Success (1432/2356)
Success (1433/2356)
Success (1434/2356)
Success (1435/2356)
Success (1436/2356)
Success (1437/2356)
Success (1438/2356)
Success (1439/2356)
Success (1440/2356)
Success (1441/2356)
Success (1442/2356)
Success (1443/2356)
Success (1444/2356)
Success (1445/2356)
Success (1446/2356)
Success (1447/2356)
Success (1448/2356)
Success (1449/2356)
Success (1450/2356)
Success (1451/2356)
Success (1452/2356)
Success (1453/2356)
Success (1454/2356)
Success (1455/2356)
Success (1456/2356)
Success (1457/2356)
Success (1458/2356)
Success (1459/2356)
Success (1460/2356)
Success (1461/2356)
Success (1462/2356)
Success (1463/2356)
Success (1464/2356)
Success (1465/2356)
Success (1466/2356)
Success (1467/2356)
Success (1468/2356)
Success (1469/2356)
Success (1470/2356)
Success (1471/2356)
Success (1472/2356)
Success (1473/2356)
Success (1474/2356)
Success (1475/2356)
Success (1476/2356)
Success (1477/2356)
Success (1478/2356)
Success (1479/2356)
Success (1480/2356)
Success (1481/2356)
Success (1482/2356)
Success (1483/2356)
Success (1484/2356)
Success (1485/2356)
Success (1486/2356)
Success (1487/2356)
Success (1488/2356)
Success (1489/2356)
Success (1490/2356)
Success (1491/2356)
Success (1492/2356)
Success (1493/2356)
Success (1494/2356)
Success (1495/2356)
Success (1496/2356)
Success (1497/2356)
Success (1498/2356)
Success (1499/2356)
Success (1500/2356)
Success (1501/2356)
Success (1502/2356)
Success (1503/2356)
Success (1504/2356)
Success (1505/2356)
Success (1506/2356)
Success (1507/2356)
Success (1508/2356)
Success (1509/2356)
Success (1510/2356)
Success (1511/2356)
Success (1512/2356)
Success (1513/2356)
Success (1514/2356)
Success (1515/2356)
Success (1516/2356)
Success (1517/2356)
Success (1518/2356)
Success (1519/2356)
Success (1520/2356)
Success (1521/2356)
Success (1522/2356)
Success (1523/2356)
Success (1524/2356)
Success (1525/2356)
Success (1526/2356)
Success (1527/2356)
Success (1528/2356)
Success (1529/2356)
Success (1530/2356)
Success (1531/2356)
Success (1532/2356)
Success (1533/2356)
Success (1534/2356)
Success (1535/2356)
Success (1536/2356)
Success (1537/2356)
Success (1538/2356)
Success (1539/2356)
Success (1540/2356)
Success (1541/2356)
Success (1542/2356)
Success (1543/2356)
Success (1544/2356)
Success (1545/2356)
Success (1546/2356)
Success (1547/2356)
Success (1548/2356)
Success (1549/2356)
Success (1550/2356)
Success (1551/2356)
Success (1552/2356)
Success (1553/2356)
Success (1554/2356)
Success (1555/2356)
Success (1556/2356)
Success (1557/2356)
Success (1558/2356)
Success (1559/2356)
Success (1560/2356)
Success (1561/2356)
Success (1562/2356)
Success (1563/2356)
Success (1564/2356)
Success (1565/2356)
Success (1566/2356)
Success (1567/2356)
Success (1568/2356)
Success (1569/2356)
Success (1570/2356)
Success (1571/2356)
Success (1572/2356)
Success (1573/2356)
Success (1574/2356)
Success (1575/2356)
Success (1576/2356)
Success (1577/2356)
Success (1578/2356)
Success (1579/2356)
Success (1580/2356)
Success (1581/2356)
Success (1582/2356)
Success (1583/2356)
Success (1584/2356)
Success (1585/2356)
Success (1586/2356)
Success (1587/2356)
Success (1588/2356)
Success (1589/2356)
Success (1590/2356)
Success (1591/2356)
Success (1592/2356)
Success (1593/2356)
Success (1594/2356)
Success (1595/2356)
Success (1596/2356)
Success (1597/2356)
Success (1598/2356)
Success (1599/2356)
Success (1600/2356)
Success (1601/2356)
Success (1602/2356)
Success (1603/2356)
Success (1604/2356)
Success (1605/2356)
Success (1606/2356)
Success (1607/2356)
Success (1608/2356)
Success (1609/2356)
Success (1610/2356)
Success (1611/2356)
Success (1612/2356)
Success (1613/2356)
Success (1614/2356)
Success (1615/2356)
Success (1616/2356)
Success (1617/2356)
Success (1618/2356)
Success (1619/2356)
Success (1620/2356)
Success (1621/2356)
Success (1622/2356)
Success (1623/2356)
Success (1624/2356)
Success (1625/2356)
Success (1626/2356)
Success (1627/2356)
Success (1628/2356)
Success (1629/2356)
Success (1630/2356)
Success (1631/2356)
Success (1632/2356)
Success (1633/2356)
Success (1634/2356)
Success (1635/2356)
Success (1636/2356)
Success (1637/2356)
Success (1638/2356)
Success (1639/2356)
Success (1640/2356)
Success (1641/2356)
Success (1642/2356)
Success (1643/2356)
Success (1644/2356)
Success (1645/2356)
Success (1646/2356)
Success (1647/2356)
Success (1648/2356)
Success (1649/2356)
Success (1650/2356)
Success (1651/2356)
Success (1652/2356)
Success (1653/2356)
Success (1654/2356)
Success (1655/2356)
Success (1656/2356)
Success (1657/2356)

Success (1658/2356)
Success (1659/2356)
Success (1660/2356)
Success (1661/2356)
Success (1662/2356)
Success (1663/2356)
Success (1664/2356)
Success (1665/2356)
Success (1666/2356)
Success (1667/2356)
Success (1668/2356)
Success (1669/2356)
Success (1670/2356)
Success (1671/2356)
Success (1672/2356)
Success (1673/2356)
Success (1674/2356)
Success (1675/2356)
Success (1676/2356)
Success (1677/2356)
Success (1678/2356)
Success (1679/2356)
Success (1680/2356)
Success (1681/2356)
Success (1682/2356)
Success (1683/2356)
Success (1684/2356)
Success (1685/2356)
Success (1686/2356)
Success (1687/2356)
Success (1688/2356)
Success (1689/2356)
Success (1690/2356)
Success (1691/2356)
Success (1692/2356)
Success (1693/2356)
Success (1694/2356)
Success (1695/2356)
Success (1696/2356)
Success (1697/2356)
Success (1698/2356)
Success (1699/2356)
Success (1700/2356)
Success (1701/2356)
Success (1702/2356)
Success (1703/2356)
Success (1704/2356)
Success (1705/2356)
Success (1706/2356)
Success (1707/2356)
Success (1708/2356)
Success (1709/2356)
Success (1710/2356)
Success (1711/2356)
Success (1712/2356)
Success (1713/2356)
Success (1714/2356)
Success (1715/2356)
Success (1716/2356)
Success (1717/2356)
Success (1718/2356)
Success (1719/2356)
Success (1720/2356)
Success (1721/2356)
Success (1722/2356)
Success (1723/2356)
Success (1724/2356)
Success (1725/2356)
Fail (1726/2356)
Success (1727/2356)
Success (1728/2356)

Rate limit reached. Sleeping for: 267

Success (1729/2356)
Success (1730/2356)
Success (1731/2356)
Success (1732/2356)
Success (1733/2356)
Success (1734/2356)
Success (1735/2356)
Success (1736/2356)
Success (1737/2356)
Success (1738/2356)
Success (1739/2356)
Success (1740/2356)
Success (1741/2356)
Success (1742/2356)
Success (1743/2356)
Success (1744/2356)
Success (1745/2356)
Success (1746/2356)
Success (1747/2356)
Success (1748/2356)
Success (1749/2356)
Success (1750/2356)
Success (1751/2356)
Success (1752/2356)
Success (1753/2356)
Success (1754/2356)
Success (1755/2356)
Success (1756/2356)
Success (1757/2356)
Success (1758/2356)
Success (1759/2356)
Success (1760/2356)
Success (1761/2356)
Success (1762/2356)
Success (1763/2356)
Success (1764/2356)
Success (1765/2356)
Success (1766/2356)
Success (1767/2356)
Success (1768/2356)
Success (1769/2356)
Success (1770/2356)
Success (1771/2356)
Success (1772/2356)
Success (1773/2356)
Success (1774/2356)
Success (1775/2356)
Success (1776/2356)
Success (1777/2356)
Success (1778/2356)
Success (1779/2356)
Success (1780/2356)
Success (1781/2356)
Success (1782/2356)
Success (1783/2356)
Success (1784/2356)
Success (1785/2356)
Success (1786/2356)
Success (1787/2356)
Success (1788/2356)
Success (1789/2356)
Success (1790/2356)
Success (1791/2356)
Success (1792/2356)
Success (1793/2356)
Success (1794/2356)
Success (1795/2356)
Success (1796/2356)
Success (1797/2356)
Success (1798/2356)
Success (1799/2356)
Success (1800/2356)
Success (1801/2356)
Success (1802/2356)
Success (1803/2356)
Success (1804/2356)
Success (1805/2356)
Success (1806/2356)
Success (1807/2356)
Success (1808/2356)
Success (1809/2356)
Success (1810/2356)
Success (1811/2356)
Success (1812/2356)
Success (1813/2356)
Success (1814/2356)
Success (1815/2356)
Success (1816/2356)
Success (1817/2356)
Success (1818/2356)
Success (1819/2356)
Success (1820/2356)
Success (1821/2356)
Success (1822/2356)
Success (1823/2356)
Success (1824/2356)
Success (1825/2356)
Success (1826/2356)
Success (1827/2356)
Success (1828/2356)
Success (1829/2356)
Success (1830/2356)
Success (1831/2356)
Success (1832/2356)
Success (1833/2356)
Success (1834/2356)
Success (1835/2356)
Success (1836/2356)
Success (1837/2356)
Success (1838/2356)
Success (1839/2356)
Success (1840/2356)
Success (1841/2356)
Success (1842/2356)
Success (1843/2356)
Success (1844/2356)
Success (1845/2356)
Success (1846/2356)
Success (1847/2356)
Success (1848/2356)
Success (1849/2356)
Success (1850/2356)
Success (1851/2356)
Success (1852/2356)
Success (1853/2356)
Success (1854/2356)
Success (1855/2356)
Success (1856/2356)
Success (1857/2356)
Success (1858/2356)
Success (1859/2356)
Success (1860/2356)
Success (1861/2356)
Success (1862/2356)
Success (1863/2356)
Success (1864/2356)
Success (1865/2356)
Success (1866/2356)
Success (1867/2356)
Success (1868/2356)
Success (1869/2356)
Success (1870/2356)
Success (1871/2356)
Success (1872/2356)
Success (1873/2356)
Success (1874/2356)
Success (1875/2356)
Success (1876/2356)
Success (1877/2356)
Success (1878/2356)
Success (1879/2356)
Success (1880/2356)
Success (1881/2356)
Success (1882/2356)
Success (1883/2356)
Success (1884/2356)
Success (1885/2356)
Success (1886/2356)
Success (1887/2356)
Success (1888/2356)
Success (1889/2356)
Success (1890/2356)
Success (1891/2356)
Success (1892/2356)
Success (1893/2356)
Success (1894/2356)
Success (1895/2356)
Success (1896/2356)
Success (1897/2356)
Success (1898/2356)
Success (1899/2356)
Success (1900/2356)
Success (1901/2356)
Success (1902/2356)
Success (1903/2356)
Success (1904/2356)
Success (1905/2356)
Success (1906/2356)
Success (1907/2356)
Success (1908/2356)
Success (1909/2356)
Success (1910/2356)
Success (1911/2356)
Success (1912/2356)
Success (1913/2356)
Success (1914/2356)
Success (1915/2356)
Success (1916/2356)
Success (1917/2356)
Success (1918/2356)
Success (1919/2356)
Success (1920/2356)
Success (1921/2356)
Success (1922/2356)
Success (1923/2356)
Success (1924/2356)
Success (1925/2356)
Success (1926/2356)
Success (1927/2356)
Success (1928/2356)
Success (1929/2356)
Success (1930/2356)
Success (1931/2356)
Success (1932/2356)
Success (1933/2356)
Success (1934/2356)
Success (1935/2356)
Success (1936/2356)
Success (1937/2356)
Success (1938/2356)
Success (1939/2356)
Success (1940/2356)
Success (1941/2356)
Success (1942/2356)
Success (1943/2356)
Success (1944/2356)
Success (1945/2356)
Success (1946/2356)
Success (1947/2356)
Success (1948/2356)
Success (1949/2356)
Success (1950/2356)
Success (1951/2356)
Success (1952/2356)
Success (1953/2356)
Success (1954/2356)
Success (1955/2356)
Success (1956/2356)
Success (1957/2356)
Success (1958/2356)
Success (1959/2356)
Success (1960/2356)
Success (1961/2356)
Success (1962/2356)
Success (1963/2356)
Success (1964/2356)
Success (1965/2356)
Success (1966/2356)
Success (1967/2356)
Success (1968/2356)
Success (1969/2356)
Success (1970/2356)
Success (1971/2356)
Success (1972/2356)
Success (1973/2356)
Success (1974/2356)
Success (1975/2356)
Success (1976/2356)
Success (1977/2356)
Success (1978/2356)
Success (1979/2356)
Success (1980/2356)
Success (1981/2356)
Success (1982/2356)
Success (1983/2356)
Success (1984/2356)
Success (1985/2356)
Success (1986/2356)
Success (1987/2356)
Success (1988/2356)
Success (1989/2356)
Success (1990/2356)
Success (1991/2356)
Success (1992/2356)
Success (1993/2356)
Success (1994/2356)
Success (1995/2356)
Success (1996/2356)
Success (1997/2356)
Success (1998/2356)
Success (1999/2356)
Success (2000/2356)
Success (2001/2356)
Success (2002/2356)
Success (2003/2356)
Success (2004/2356)
Success (2005/2356)
Success (2006/2356)
Success (2007/2356)
Success (2008/2356)
Success (2009/2356)
Success (2010/2356)
Success (2011/2356)
Success (2012/2356)
Success (2013/2356)
Success (2014/2356)
Success (2015/2356)
Success (2016/2356)
Success (2017/2356)
Success (2018/2356)
Success (2019/2356)
Success (2020/2356)
Success (2021/2356)
Success (2022/2356)
Success (2023/2356)
Success (2024/2356)
Success (2025/2356)
Success (2026/2356)
Success (2027/2356)
Success (2028/2356)
Success (2029/2356)
Success (2030/2356)
Success (2031/2356)
Success (2032/2356)
Success (2033/2356)
Success (2034/2356)
Success (2035/2356)
Success (2036/2356)
Success (2037/2356)
Success (2038/2356)
Success (2039/2356)
Success (2040/2356)
Success (2041/2356)
Success (2042/2356)
Success (2043/2356)
Success (2044/2356)
Success (2045/2356)
Success (2046/2356)
Success (2047/2356)
Success (2048/2356)
Success (2049/2356)
Success (2050/2356)
Success (2051/2356)
Success (2052/2356)
Success (2053/2356)
Success (2054/2356)
Success (2055/2356)
Success (2056/2356)
Success (2057/2356)
Success (2058/2356)
Success (2059/2356)
Success (2060/2356)
Success (2061/2356)
Success (2062/2356)
Success (2063/2356)
Success (2064/2356)
Success (2065/2356)
Success (2066/2356)
Success (2067/2356)
Success (2068/2356)
Success (2069/2356)
Success (2070/2356)
Success (2071/2356)
Success (2072/2356)
Success (2073/2356)
Success (2074/2356)
Success (2075/2356)
Success (2076/2356)
Success (2077/2356)
Success (2078/2356)
Success (2079/2356)
Success (2080/2356)
Success (2081/2356)
Success (2082/2356)
Success (2083/2356)
Success (2084/2356)
Success (2085/2356)
Success (2086/2356)
Success (2087/2356)
Success (2088/2356)
Success (2089/2356)
Success (2090/2356)
Success (2091/2356)
Success (2092/2356)
Success (2093/2356)
Success (2094/2356)
Success (2095/2356)
Success (2096/2356)
Success (2097/2356)
Success (2098/2356)
Success (2099/2356)
Success (2100/2356)
Success (2101/2356)
Success (2102/2356)
Success (2103/2356)
Success (2104/2356)
Success (2105/2356)
Success (2106/2356)
Success (2107/2356)
Success (2108/2356)
Success (2109/2356)
Success (2110/2356)
Success (2111/2356)
Success (2112/2356)
Success (2113/2356)
Success (2114/2356)
Success (2115/2356)
Success (2116/2356)
Success (2117/2356)
Success (2118/2356)
Success (2119/2356)
Success (2120/2356)
Success (2121/2356)
Success (2122/2356)
Success (2123/2356)
Success (2124/2356)
Success (2125/2356)
Success (2126/2356)
Success (2127/2356)
Success (2128/2356)
Success (2129/2356)
Success (2130/2356)
Success (2131/2356)
Success (2132/2356)
Success (2133/2356)
Success (2134/2356)
Success (2135/2356)
Success (2136/2356)
Success (2137/2356)
Success (2138/2356)

Success (2139/2356)
Success (2140/2356)
Success (2141/2356)
Success (2142/2356)
Success (2143/2356)
Success (2144/2356)
Success (2145/2356)
Success (2146/2356)
Success (2147/2356)
Success (2148/2356)
Success (2149/2356)
Success (2150/2356)
Success (2151/2356)
Success (2152/2356)
Success (2153/2356)
Success (2154/2356)
Success (2155/2356)
Success (2156/2356)
Success (2157/2356)
Success (2158/2356)
Success (2159/2356)
Success (2160/2356)
Success (2161/2356)
Success (2162/2356)
Success (2163/2356)
Success (2164/2356)
Success (2165/2356)
Success (2166/2356)
Success (2167/2356)
Success (2168/2356)
Success (2169/2356)
Success (2170/2356)
Success (2171/2356)
Success (2172/2356)
Success (2173/2356)
Success (2174/2356)
Success (2175/2356)
Success (2176/2356)
Success (2177/2356)
Success (2178/2356)
Success (2179/2356)
Success (2180/2356)
Success (2181/2356)
Success (2182/2356)
Success (2183/2356)
Success (2184/2356)
Success (2185/2356)
Success (2186/2356)
Success (2187/2356)
Success (2188/2356)
Success (2189/2356)
Success (2190/2356)
Success (2191/2356)
Success (2192/2356)
Success (2193/2356)
Success (2194/2356)
Success (2195/2356)
Success (2196/2356)
Success (2197/2356)
Success (2198/2356)
Success (2199/2356)
Success (2200/2356)
Success (2201/2356)
Success (2202/2356)
Success (2203/2356)
Success (2204/2356)
Success (2205/2356)
Success (2206/2356)
Success (2207/2356)
Success (2208/2356)
Success (2209/2356)
Success (2210/2356)
Success (2211/2356)
Success (2212/2356)
Success (2213/2356)
Success (2214/2356)
Success (2215/2356)
Success (2216/2356)
Success (2217/2356)
Success (2218/2356)
Success (2219/2356)
Success (2220/2356)
Success (2221/2356)
Success (2222/2356)
Success (2223/2356)
Success (2224/2356)
Success (2225/2356)
Success (2226/2356)
Success (2227/2356)
Success (2228/2356)
Success (2229/2356)
Success (2230/2356)
Success (2231/2356)
Success (2232/2356)
Success (2233/2356)
Success (2234/2356)
Success (2235/2356)
Success (2236/2356)
Success (2237/2356)
Success (2238/2356)
Success (2239/2356)
Success (2240/2356)
Success (2241/2356)
Success (2242/2356)
Success (2243/2356)
Success (2244/2356)
Success (2245/2356)
Success (2246/2356)
Success (2247/2356)
Success (2248/2356)
Success (2249/2356)
Success (2250/2356)
Success (2251/2356)
Success (2252/2356)
Success (2253/2356)
Success (2254/2356)
Success (2255/2356)
Success (2256/2356)
Success (2257/2356)
Success (2258/2356)
Success (2259/2356)
Success (2260/2356)
Success (2261/2356)
Success (2262/2356)
Success (2263/2356)
Success (2264/2356)
Success (2265/2356)
Success (2266/2356)
Success (2267/2356)
Success (2268/2356)
Success (2269/2356)
Success (2270/2356)
Success (2271/2356)
Success (2272/2356)
Success (2273/2356)
Success (2274/2356)
Success (2275/2356)
Success (2276/2356)
Success (2277/2356)
Success (2278/2356)
Success (2279/2356)
Success (2280/2356)
Success (2281/2356)
Success (2282/2356)
Success (2283/2356)
Success (2284/2356)
Success (2285/2356)
Success (2286/2356)
Success (2287/2356)
Success (2288/2356)
Success (2289/2356)
Success (2290/2356)
Success (2291/2356)
Success (2292/2356)
Success (2293/2356)
Success (2294/2356)
Success (2295/2356)
Success (2296/2356)
Success (2297/2356)
Success (2298/2356)
Success (2299/2356)
Success (2300/2356)
Success (2301/2356)
Success (2302/2356)
Success (2303/2356)
Success (2304/2356)
Success (2305/2356)
Success (2306/2356)
Success (2307/2356)
Success (2308/2356)
Success (2309/2356)
Success (2310/2356)
Success (2311/2356)
Success (2312/2356)
Success (2313/2356)
Success (2314/2356)
Success (2315/2356)
Success (2316/2356)
Success (2317/2356)
Success (2318/2356)
Success (2319/2356)
Success (2320/2356)
Success (2321/2356)
Success (2322/2356)
Success (2323/2356)
Success (2324/2356)
Success (2325/2356)
Success (2326/2356)
Success (2327/2356)
Success (2328/2356)
Success (2329/2356)
Success (2330/2356)
Success (2331/2356)
Success (2332/2356)
Success (2333/2356)
Success (2334/2356)
Success (2335/2356)
Success (2336/2356)
Success (2337/2356)
Success (2338/2356)
Success (2339/2356)
Success (2340/2356)
Success (2341/2356)
Success (2342/2356)
Success (2343/2356)
Success (2344/2356)
Success (2345/2356)
Success (2346/2356)
Success (2347/2356)
Success (2348/2356)
Success (2349/2356)
Success (2350/2356)
Success (2351/2356)
Success (2352/2356)
Success (2353/2356)
Success (2354/2356)
Success (2355/2356)

In [3]:
img_prediction = pd.read_csv('image-predictions.tsv', sep='\t')
twitter_info = pd.read_json('tweet-json.txt')

# Assess

In [4]:
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [5]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [6]:
print(twitter_archive.doggo.value_counts(),'\n')
print(twitter_archive.floofer.value_counts(),'\n')
print(twitter_archive.pupper.value_counts(),'\n')
print(twitter_archive.puppo.value_counts(),'\n')

None     2259
doggo      97
Name: doggo, dtype: int64

None       2346
floofer      10
Name: floofer, dtype: int64

None      2099
pupper     257
Name: pupper, dtype: int64

None     2326
puppo      30
Name: puppo, dtype: int64

In [7]:
twitter_archive.loc[:,['rating_numerator','rating_denominator']].describe()

       rating_numerator  rating_denominator
count       2356.000000         2356.000000
mean          13.126486           10.455433
std           45.876648            6.745237
min            0.000000            0.000000
25%           10.000000           10.000000
50%           11.000000           10.000000
75%           12.000000           10.000000
max         1776.000000          170.000000

In [8]:
twitter_archive.query('rating_denominator != 10').loc[:, ['tweet_id','retweeted_status_id', 'text', 'name', 'rating_numerator', 'rating_denominator']]

,tweet_id,retweeted_status_id,text,name,rating_numerator,rating_denominator
313,835246439529840640,NaN,@jonnysun @Lin_Manuel ok jomny I know you're e...,None,960,0
342,832088576586297345,NaN,@docmisterio account started on 11/15/15,None,11,15
433,820690176645140481,NaN,The floofs have been released I repeat the flo...,None,84,70
516,810984652412424192,NaN,Meet Sam. She smiles 24/7 &amp; secretly aspir...,Sam,24,7
784,775096608509886464,7.403732e+17,"RT @dog_rates: After so many requests, this is...",None,9,11
902,758467244762497024,NaN,Why does this never happen at my front door......,None,165,150
1068,740373189193256964,NaN,"After so many requests, this is Bretagne. She ...",None,9,11
1120,731156023742988288,NaN,Say hello to this unbelievably well behaved sq...,this,204,170
1165,722974582966214656,NaN,Happy 4/20 from the squad! 13/10 for all https...,None,4,20
1202,716439118184652801,NaN,This is Bluebert. He just saw that both #Final...,Bluebert,50,50
1228,713900603437621249,NaN,Happy Saturday here's 9 puppers on a bench. 99...,None,99,90
1254,710658690886586372,NaN,Here's a brigade of puppers. All look very pre...,None,80,80
1274,709198395643068416,NaN,"From left to right:\nCletus, Jerome, Alejandro...",None,45,50
1351,704054845121142784,NaN,Here is a whole flock of puppers. 60/50 I'll ...,a,60,50
1433,697463031882764288,NaN,Happy Wednesday here's a bucket of pups. 44/40...,None,44,40
1598,686035780142297088,NaN,Yes I do realize a rating of 4/20 would've bee...,None,4,20
1634,684225744407494656,NaN,"Two sneaky puppers were not initially seen, mo...",None,143,130
1635,684222868335505415,NaN,Someone help the girl is being mugged. Several...,None,121,110
1662,682962037429899265,NaN,This is Darrel. He just robbed a 7/11 and is i...,Darrel,7,11
1663,682808988178739200,NaN,"I'm aware that I could've said 20/16, but here...",None,20,16
1779,677716515794329600,NaN,IT'S PUPPERGEDDON. Total of 144/120 ...I think...,None,144,120
1843,675853064436391936,NaN,Here we have an entire platoon of puppers. Tot...,None,88,80
2335,666287406224695296,NaN,This is an Albanian 3 1/2 legged Episcopalian...,an,1,2

In [9]:
twitter_archive.query('rating_numerator == 1776')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
979,749981277374128128,NaN,NaN,2016-07-04 15:00:45 +0000,"<a href=""https://about.twitter.com/products/tw...",This is Atticus. He's quite simply America af....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/749981277...,1776,10,Atticus,None,None,None,None

In [10]:
print(int(twitter_archive.query('tweet_id == 684225744407494656').loc[:, "in_reply_to_status_id"].item()))

684222868335505408

In [11]:
len(twitter_archive[twitter_archive.expanded_urls.isnull()])

59

In [12]:
gh = twitter_archive[~twitter_archive.retweeted_status_id.isnull()].copy()
gh.retweeted_status_id = gh.retweeted_status_id.astype('Int64')
gh[['tweet_id','retweeted_status_id'] ]

                tweet_id  retweeted_status_id
19    888202515573088257   887473957103951872
32    886054160059072513   886053734421102592
36    885311592912609280   830583320585068544
68    879130579576475649   878057613040115712
73    878404777348136964   878281511006478336
...                  ...                  ...
1023  746521445350707200   667866724293877760
1043  743835915802583040   667138269671505920
1242  711998809858043904   711998279773347840
2259  667550904950915073   667548695664070656
2260  667550882905632768   667548415174144000

[181 rows x 2 columns]

In [13]:
r_ids = twitter_archive[twitter_archive.tweet_id.astype("Int64").isin(twitter_archive.retweeted_status_id.astype("Int64"))]['tweet_id']

for r_id in r_ids:
    up_base = twitter_archive.query(f'tweet_id == {r_id}').loc[:, "rating_numerator"].item()
    up_r =  twitter_archive[twitter_archive.retweeted_status_id.astype("Int64") == r_id].loc[:, "rating_numerator"].item()
    print(f"{up_base} - {up_r}: {up_base==up_r}")

13 - 13: True
14 - 14: True
12 - 12: True
12 - 12: True
13 - 13: True
12 - 12: True
13 - 13: True
12 - 12: True
12 - 12: True
12 - 12: True
12 - 12: True
12 - 12: True
13 - 13: True
13 - 13: True
12 - 12: True
12 - 12: True
11 - 11: True
14 - 14: True
13 - 13: True
12 - 12: True
14 - 14: True
13 - 13: True
10 - 10: True
11 - 11: True
13 - 13: True
13 - 13: True
13 - 13: True
11 - 11: True
12 - 12: True
13 - 13: True
13 - 13: True
12 - 12: True
12 - 12: True
12 - 12: True
12 - 12: True
12 - 12: True
12 - 12: True
75 - 75: True
12 - 12: True
12 - 12: True
13 - 13: True
12 - 12: True
12 - 12: True
10 - 10: True
12 - 12: True
12 - 12: True
13 - 13: True
12 - 12: True
11 - 11: True
12 - 12: True
11 - 11: True
11 - 11: True
13 - 13: True
14 - 14: True
11 - 11: True
11 - 11: True
11 - 11: True
8 - 8: True
10 - 10: True
11 - 11: True
10 - 10: True
11 - 11: True
10 - 10: True
11 - 11: True
13 - 13: True
12 - 12: True
8 - 8: True
13 - 13: True
12 - 12: True
12 - 12: True
11 - 11: True
12 - 12: True
12 - 12: True
11 - 11: True
12 - 12: True
10 - 10: True
13 - 13: True
12 - 12: True
11 - 11: True
10 - 10: True
10 - 10: True
13 - 13: True
13 - 13: True
10 - 10: True
12 - 12: True
10 - 10: True
12 - 12: True
7 - 7: True
13 - 13: True
11 - 11: True
10 - 10: True
11 - 11: True
12 - 12: True
12 - 12: True
10 - 10: True
13 - 13: True
11 - 11: True
11 - 11: True
8 - 8: True
13 - 13: True
13 - 13: True
11 - 11: True
11 - 11: True
8 - 8: True
10 - 10: True
10 - 10: True
11 - 11: True
11 - 11: True
10 - 10: True
12 - 12: True
10 - 10: True
1 - 1: True

In [14]:
img_prediction.tail(10)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2065,890240255349198849,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1,Pembroke,0.511319,True,Cardigan,0.451038,True,Chihuahua,0.029248,True
2066,890609185150312448,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,1,Irish_terrier,0.487574,True,Irish_setter,0.193054,True,Chesapeake_Bay_retriever,0.118184,True
2067,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,Pomeranian,0.566142,True,Eskimo_dog,0.178406,True,Pembroke,0.076507,True
2068,890971913173991426,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,1,Appenzeller,0.341703,True,Border_collie,0.199287,True,ice_lolly,0.193548,False
2069,891087950875897856,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,1,Chesapeake_Bay_retriever,0.425595,True,Irish_terrier,0.116317,True,Indian_elephant,0.076902,False
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [15]:
img_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [16]:
img_prediction.p1.value_counts()

golden_retriever      150
Labrador_retriever    100
Pembroke               89
Chihuahua              83
pug                    57
                     ...
grey_fox                1
wooden_spoon            1
walking_stick           1
crash_helmet            1
radio_telescope         1
Name: p1, Length: 378, dtype: int64

In [17]:
img_prediction.jpg_url.duplicated().sum()

66

In [18]:
img_prediction.img_num.value_counts()

1    1780
2     198
3      66
4      31
Name: img_num, dtype: int64

In [19]:
twitter_info.head()

                   id  retweet_count  favorite_count
0  892420643555336193           7509           35519
1  892177421306343426           5575           30745
2  891815181378084864           3690           23115
3  891689557279858688           7693           38808
4  891327558926688256           8294           37092

In [20]:
twitter_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              2331 non-null   int64
 1   retweet_count   2331 non-null   int64
 2   favorite_count  2331 non-null   int64
dtypes: int64(3)
memory usage: 54.8 KB

## Quality
##### `twitter_archive` table
- Erroneous datatypes **(tweet_id, timestamp, retweeted_status_id columns)**
- there are duplicated data because of retweet.
- Rating problems in tweets:
    - 832088576586297345 : The tweet is not relevant to what we need.
    - 810984652412424192 : The tweet is not relevant to what we need.
    - 749981277374128128 : The tweet is not relevant to what we need.
    - 686035780142297088 : The tweet is not relevant to what we need.
    - 682808988178739200 : The tweet is not relevant to what we need.
    - 684222868335505415 : The tweet is not relevant to what we need.
    - 684222868335505415 : The tweet is not relevant to what we need.
    - 775096608509886464 : Deleted tweet.
    - 758467244762497024 : There are 15 dogs are not at the same age and they are not of the same breed.
    - 731156023742988288 : There are 15 dogs are not at the same age and they are not of the same breed.
    - 709198395643068416 : There are 5 dogs are not at the same age and they are not of the same breed.
    - 740373189193256964 : Miss extraction of information, 9/11 should be 14/10.
    - 835246439529840640 : Miss extraction of information, 960/0 should be 13/10.
    - 666287406224695296 : Miss extraction of information, 1/2 should be 9/10.
    - 682962037429899265 : Miss extraction of information, 7/11 should be 10/10.
    - 722974582966214656 : Miss extraction of information, 4/20 should be 13/10.
    - 716439118184652801 : Miss extraction of information, 50/50 should be 11/10.
    - 786709082849828864 : Miss extraction of information,  should be 10/10.
    - 778027034220126208 : Miss extraction of information, 27/10 should be 11/10.
    - 680494726643068929 : Miss extraction of information, 26/10 should be 11/10.
    
    - 820690176645140481 : The tweet is about 7 dogs at same age and of same breed.(all next Will be solved at tidiness section)
    - 713900603437621249 : The tweet is about 9 dogs at same age and of same breed.
    - 710658690886586372 : The tweet is about 8 dogs at same age and of same breed.
    - 704054845121142784 : The tweet is about 5 dogs at same age and of same breed.
    - 697463031882764288 : The tweet is about 4 dogs at same age and of same breed.
    - 684225744407494656 : The tweet is about 13 dogs at same age and of same breed.
    - 677716515794329600 : The tweet is about 12 dogs at same age and of same breed.
    - 675853064436391936 : The tweet is about 8 dogs at same age and of same breed.
    
    

##### `img_prediction` table
- Duplicated values at jpg_url column.
- Erroneous datatypes: **tweet_id** column.
- same breed are exist in lowercase and upercase at **p1, p2, p3** columns.
- Missing data, There are 2075 records insted of 2356 records.

##### `twitter_info` table
- name of id coulumn is not expresive.
- Erroneous datatypes: **tweet_id** column.
- Missing Data, There are 2331 instead of 2356 record.


## Tidiness
##### `twitter_archive` table
- **rating_numerator and rating_denominator** columns should be one coulmn (**rating_frac**)
- one variable in four columns (**doggo**, **floofer**, **pupper**, and **puppo** columns).
- Unneeded columns:
    - in_reply_to_status_id
    - in_reply_to_user_id
    - source
    - expanded_urls
    - in_reply_to_user_id
    - retweeted_status_id
    - retweeted_status_user_id
    - retweeted_status_timestamp
 

##### `img_prediction` table
- the prediction should be in one column, and confidence also.
- It should be part of `twitter_archive` table.

##### `twitter_info` table

- retweet_count and favorite_count should be part of `twitter_archive` table.

# Clean

In [21]:
twitter_archive_clean = twitter_archive.copy()
twitter_info_clean = twitter_info.copy()
img_prediction_clean = img_prediction.copy()

### Erroneous datatypes **(tweet_id, timestamp)**

### Define
`twitter_archive` table
- Convert datatype of **tweet_id, retweeted_status_id** columns to String by using **astype()** method.
- Convert **timestamp** column to datetime.

### Code

In [22]:
twitter_archive_clean["tweet_id"] = twitter_archive_clean["tweet_id"].astype(str)
twitter_archive_clean.timestamp = pd.to_datetime(twitter_archive_clean.timestamp)

### Test

In [23]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   object
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   datetime64[ns, UTC]
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: datetime64[ns, UTC](1), float64(4), int64(2), object(10)
memory usage: 313.0+ KB

In [24]:
twitter_archive_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

### There are duplicated data because of retweet.

### Define
`twitter_archive` table
- Delete all retweets data

### Code

In [25]:
twitter_archive_clean = twitter_archive_clean[twitter_archive_clean.retweeted_status_id.isnull()]

### Test

In [26]:
twitter_archive_clean[twitter_archive_clean.retweeted_status_id.notnull()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

### irrelevant tweets

### Define
`twitter_archive` table
- 832088576586297345
- 810984652412424192
- 749981277374128128
- 686035780142297088
- 682808988178739200 
- 684222868335505415 
- 684222868335505415 
- 775096608509886464

**Delete Tweet with the above ids**

In [27]:
delete_ids = ['832088576586297345', '810984652412424192', '749981277374128128', '686035780142297088',
              '682808988178739200', '684222868335505415', '684222868335505415', '775096608509886464']

twitter_archive_clean = twitter_archive_clean[~twitter_archive_clean.tweet_id.isin(delete_ids)]

### Test

In [28]:
twitter_archive_clean[twitter_archive_clean.tweet_id.isin(delete_ids)]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

### Miss Extraction

### Define
`twitter_archive` table
- 740373189193256964 : 14/10
- 835246439529840640 : 13/10
- 666287406224695296 : 9/10
- 682962037429899265 : 10/10
- 722974582966214656 : 13/10
- 716439118184652801 : 11/10
- 786709082849828864 : 10/10

**Replace the rating_numerator and rating_denominator by these values**

### Code

In [29]:
rep_dic = {"740373189193256964":14, "835246439529840640":13, "666287406224695296":9,
          "682962037429899265":10, "722974582966214656":13, "716439118184652801":11,
          "786709082849828864":10, '778027034220126208':11, '680494726643068929':11}

for t_id, rate in rep_dic.items():
    twitter_archive_clean.loc[twitter_archive_clean.tweet_id == t_id, 'rating_numerator'] = rate
    twitter_archive_clean.loc[twitter_archive_clean.tweet_id == t_id, 'rating_denominator'] = 10

SyntaxError: invalid syntax (<ipython-input-29-065c646570a1>, line 3)

### Test

In [ ]:
twitter_archive_clean.loc[twitter_archive_clean.tweet_id == '722974582966214656', 'rating_numerator']

In [ ]:
twitter_archive_clean.query('rating_numerator > 300')

### Erroneous datatypes: tweet_id column.

### Define
`img_prediction` table
- Convert **tweet_id column** into string datatype by using **astype** method.

### Code

In [30]:
img_prediction_clean.tweet_id = img_prediction_clean.tweet_id.astype(str)

### Test

In [31]:
img_prediction_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   object
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(1), object(5)
memory usage: 152.1+ KB

### breeds are exist in lowercase and upercase at **p1, p2, p3** columns.

### Define
`img_prediction` table
- convert all values to lowercase by **str.lower()**

### Code

In [32]:
img_prediction_clean.p1 = img_prediction_clean.p1.str.lower()
img_prediction_clean.p2 = img_prediction_clean.p1.str.lower()
img_prediction_clean.p3 = img_prediction_clean.p1.str.lower()

### Test

In [33]:
print(img_prediction_clean.p1.str.islower().all())
print(img_prediction_clean.p2.str.islower().all())
print(img_prediction_clean.p3.str.islower().all())

True
True
True

### Erroneous datatypes: **tweet_id** column.

### Define
`twitter_info` table
- Convert **tweet_id column** into string datatype by using **astype** method.

### Code

In [34]:
twitter_info_clean.id = twitter_info_clean.id.astype(str)

### Test

In [35]:
twitter_info_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              2331 non-null   object
 1   retweet_count   2331 non-null   int64
 2   favorite_count  2331 non-null   int64
dtypes: int64(2), object(1)
memory usage: 54.8+ KB

In [36]:
twitter_info_clean.head()

                   id  retweet_count  favorite_count
0  892420643555336193           7509           35519
1  892177421306343426           5575           30745
2  891815181378084864           3690           23115
3  891689557279858688           7693           38808
4  891327558926688256           8294           37092

### name of id coulumn is not expresive.

### Define
`twitter_info` table
- Rename the **id** column to **tweet_id** by using **.rename()** method

### Code

In [37]:
twitter_info_clean.rename(columns={'id': 'tweet_id'}, inplace=True)

### Test

In [38]:
twitter_info_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2331 non-null   object
 1   retweet_count   2331 non-null   int64
 2   favorite_count  2331 non-null   int64
dtypes: int64(2), object(1)
memory usage: 54.8+ KB

# Tidiness issues

### rating_numerator and rating_denominator columns could make another column coulmn (rating_frac)

### Define
`twitter_archive` table
- Divide **rating_numerator** by **rating_denominator** assign that to new column called **rating_frac**

### Code

In [39]:
twitter_archive_clean['rating_frac'] = twitter_archive_clean.rating_numerator / twitter_archive_clean.rating_denominator * 10

### Test

In [40]:
twitter_archive_clean['rating_frac']

0       13.0
1       13.0
2       12.0
3       13.0
4       12.0
        ...
2351     5.0
2352     6.0
2353     9.0
2354     7.0
2355     8.0
Name: rating_frac, Length: 2169, dtype: float64

In [41]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2169 entries, 0 to 2355
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2169 non-null   object
 1   in_reply_to_status_id       75 non-null     float64
 2   in_reply_to_user_id         75 non-null     float64
 3   timestamp                   2169 non-null   datetime64[ns, UTC]
 4   source                      2169 non-null   object
 5   text                        2169 non-null   object
 6   retweeted_status_id         0 non-null      float64
 7   retweeted_status_user_id    0 non-null      float64
 8   retweeted_status_timestamp  0 non-null      object
 9   expanded_urls               2114 non-null   object
 10  rating_numerator            2169 non-null   int64
 11  rating_denominator          2169 non-null   int64
 12  name                        2169 non-null   object
 13  doggo                       2169 non-null   object
 14  floofer                     2169 non-null   object
 15  pupper                      2169 non-null   object
 16  puppo                       2169 non-null   object
 17  rating_frac                 2169 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(5), int64(2), object(10)
memory usage: 322.0+ KB

### one variable in four columns (doggo, floofer, pupper, and puppo columns).

### Define
`twitter_archive` table
- make new column(**dog_stage**) with breed of each dog by using **ffill()** method

### Code

In [42]:
twitter_archive_clean.doggo.replace('None', np.nan, inplace=True)
twitter_archive_clean.pupper.replace('None', np.nan, inplace=True)
twitter_archive_clean.puppo.replace('None', np.nan, inplace=True)
twitter_archive_clean.floofer.replace('None', np.nan, inplace=True)

In [43]:
# From stackoveflow: https://stackoverflow.com/questions/54753077/how-to-use-the-pandas-melt-while-keeping-the-nan-values

twitter_archive_clean['dog_stage']=twitter_archive_clean.loc[:,['doggo', 'pupper', 'puppo','floofer']].ffill(axis=1).iloc[:,-1]
twitter_archive_clean.drop(columns=['doggo', 'pupper', 'puppo','floofer'],inplace=True)

### Test

In [44]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2169 entries, 0 to 2355
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2169 non-null   object
 1   in_reply_to_status_id       75 non-null     float64
 2   in_reply_to_user_id         75 non-null     float64
 3   timestamp                   2169 non-null   datetime64[ns, UTC]
 4   source                      2169 non-null   object
 5   text                        2169 non-null   object
 6   retweeted_status_id         0 non-null      float64
 7   retweeted_status_user_id    0 non-null      float64
 8   retweeted_status_timestamp  0 non-null      object
 9   expanded_urls               2114 non-null   object
 10  rating_numerator            2169 non-null   int64
 11  rating_denominator          2169 non-null   int64
 12  name                        2169 non-null   object
 13  rating_frac                 2169 non-null   float64
 14  dog_stage                   344 non-null    object
dtypes: datetime64[ns, UTC](1), float64(5), int64(2), object(7)
memory usage: 271.1+ KB

In [45]:
twitter_archive_clean[twitter_archive_clean.dog_stage.notnull()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,rating_frac,dog_stage
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,14.0,doggo
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,13.0,puppo
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,13.0,puppo
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,12.0,pupper
43,884162670584377345,NaN,NaN,2017-07-09 21:29:42+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Meet Yogi. He doesn't have any important dog m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/884162670...,12,10,Yogi,12.0,doggo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,672594978741354496,NaN,NaN,2015-12-04 01:55:13+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Meet Scott. Just trying to catch his train to ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/672594978...,9,10,Scott,9.0,pupper
2002,672481316919734272,NaN,NaN,2015-12-03 18:23:34+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Jazz. She should be on the cover ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/672481316...,12,10,Jazz,12.0,pupper
2009,672254177670729728,NaN,NaN,2015-12-03 03:21:00+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Rolf. He's having the time of his life...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/672254177...,11,10,Rolf,11.0,pupper
2015,672205392827572224,NaN,NaN,2015-12-03 00:07:09+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Opal. He's a Royal John Coctostan. Rea...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/672205392...,9,10,Opal,9.0,pupper
2017,672160042234327040,NaN,NaN,2015-12-02 21:06:56+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Bubba. He's a Titted Peebles Aorta. Ev...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/672160042...,8,10,Bubba,8.0,pupper

In [46]:
twitter_archive_clean.dog_stage.value_counts()

pupper     234
doggo       75
puppo       25
floofer     10
Name: dog_stage, dtype: int64

### Unneeded Columns 
`twitter_archive` table
- in_reply_to_status_id ,in_reply_to_user_id
- retweeted_status_id, retweeted_status_user_id ,retweeted_status_timestamp
- source, expanded_urls

### Code

In [47]:
col_list = ['source', 'in_reply_to_status_id' ,'in_reply_to_user_id', 'expanded_urls',
            'retweeted_status_id', 'retweeted_status_user_id' ,'retweeted_status_timestamp']

twitter_archive_clean.drop(columns=col_list, inplace=True)

### Test

In [48]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2169 entries, 0 to 2355
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2169 non-null   object
 1   timestamp           2169 non-null   datetime64[ns, UTC]
 2   text                2169 non-null   object
 3   rating_numerator    2169 non-null   int64
 4   rating_denominator  2169 non-null   int64
 5   name                2169 non-null   object
 6   rating_frac         2169 non-null   float64
 7   dog_stage           344 non-null    object
dtypes: datetime64[ns, UTC](1), float64(1), int64(2), object(4)
memory usage: 152.5+ KB

### The prediction should be in one column, and confidence also.

### Define
`img_prediction` table
- Select the prediction of best confidence and should be a dog breed

### Code

In [49]:
def breed(record):
    if record['p1_dog']:
        return record['p1']
    
    elif record['p2_dog']:
        return record['p2']
    
    elif record['p3_dog']:
        return record['p3']
    else:
        return np.nan

In [50]:
def confid(record):
    if record['p1_dog']:
        return record['p1_conf']
    
    elif record['p2_dog']:
        return record['p2_conf']
    
    elif record['p3_dog']:
        return record['p3_conf']
    else:
        return np.nan

In [51]:
img_prediction_clean['dog_breed'] = img_prediction_clean.apply(lambda record: breed(record), axis=1)
img_prediction_clean['pred_conf'] = img_prediction_clean.apply(lambda record: confid(record), axis=1)

img_prediction_clean = img_prediction_clean.loc[:, ['tweet_id', 'dog_breed', 'pred_conf']]
img_prediction_clean = img_prediction_clean[img_prediction_clean.dog_breed.notnull()]

### Test

In [52]:
img_prediction_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1751 entries, 0 to 2073
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet_id   1751 non-null   object
 1   dog_breed  1751 non-null   object
 2   pred_conf  1751 non-null   float64
dtypes: float64(1), object(2)
memory usage: 54.7+ KB

In [53]:
img_prediction_clean.head()

             tweet_id               dog_breed  pred_conf
0  666020888022790149  welsh_springer_spaniel   0.465074
1  666029285002620928                 redbone   0.506826
2  666033412701032449         german_shepherd   0.596461
3  666044226329800704     rhodesian_ridgeback   0.408143
4  666049248165822465      miniature_pinscher   0.560311

### `img_prediction` table should be part of `twitter_archive` table.

### Define
- Merge `twitter_archive` table with `img_prediction` table by using **pd.merge()** on tweet_id

In [54]:
twitter_archive_clean = pd.merge(twitter_archive_clean, img_prediction_clean, on='tweet_id')

### Test

In [55]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1684 entries, 0 to 1683
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            1684 non-null   object
 1   timestamp           1684 non-null   datetime64[ns, UTC]
 2   text                1684 non-null   object
 3   rating_numerator    1684 non-null   int64
 4   rating_denominator  1684 non-null   int64
 5   name                1684 non-null   object
 6   rating_frac         1684 non-null   float64
 7   dog_stage           260 non-null    object
 8   dog_breed           1684 non-null   object
 9   pred_conf           1684 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(2), int64(2), object(5)
memory usage: 144.7+ KB

In [56]:
twitter_archive_clean.head()

,tweet_id,timestamp,text,rating_numerator,rating_denominator,name,rating_frac,dog_stage,dog_breed,pred_conf
0,892177421306343426,2017-08-01 00:17:27+00:00,This is Tilly. She's just checking pup on you....,13,10,Tilly,13.0,NaN,chihuahua,0.323581
1,891815181378084864,2017-07-31 00:18:03+00:00,This is Archie. He is a rare Norwegian Pouncin...,12,10,Archie,12.0,NaN,chihuahua,0.716012
2,891689557279858688,2017-07-30 15:58:51+00:00,This is Darla. She commenced a snooze mid meal...,13,10,Darla,13.0,NaN,paper_towel,0.168086
3,891327558926688256,2017-07-29 16:00:24+00:00,This is Franklin. He would like you to stop ca...,12,10,Franklin,12.0,NaN,basset,0.555712
4,891087950875897856,2017-07-29 00:08:17+00:00,Here we have a majestic great white breaching ...,13,10,None,13.0,NaN,chesapeake_bay_retriever,0.425595

### retweet_count and favorite_count should be part of twitter_archive table.

### Define
- Merge `twitter_archive` table with `twitter_info` table by using **pd.merge()** on tweet_id

### Code

In [57]:
twitter_archive_clean = pd.merge(twitter_archive_clean, twitter_info_clean, on='tweet_id')

col = ['tweet_id', 'timestamp', 'text', 'name', 'dog_stage', 
       'dog_breed', 'pred_conf', 'rating_numerator','rating_denominator',
       'rating_frac', 'retweet_count', 'favorite_count']

twitter_archive_clean = twitter_archive_clean[col]

In [58]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1677 entries, 0 to 1676
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            1677 non-null   object
 1   timestamp           1677 non-null   datetime64[ns, UTC]
 2   text                1677 non-null   object
 3   name                1677 non-null   object
 4   dog_stage           259 non-null    object
 5   dog_breed           1677 non-null   object
 6   pred_conf           1677 non-null   float64
 7   rating_numerator    1677 non-null   int64
 8   rating_denominator  1677 non-null   int64
 9   rating_frac         1677 non-null   float64
 10  retweet_count       1677 non-null   int64
 11  favorite_count      1677 non-null   int64
dtypes: datetime64[ns, UTC](1), float64(2), int64(4), object(5)
memory usage: 170.3+ KB

In [59]:
twitter_archive_clean.describe()

,pred_conf,rating_numerator,rating_denominator,rating_frac,retweet_count,favorite_count
count,1677.000000,1677.000000,1677.000000,1677.000000,1677.000000,1677.000000
mean,0.548677,11.397734,10.479428,10.872120,2443.509243,8432.829457
std,0.299279,7.668696,6.526088,2.446201,4443.082002,12406.969023
min,0.000010,0.000000,2.000000,0.000000,11.000000,70.000000
25%,0.299966,10.000000,10.000000,10.000000,548.000000,1905.000000
50%,0.548018,11.000000,10.000000,11.000000,1213.000000,3883.000000
75%,0.821664,12.000000,10.000000,12.000000,2771.000000,10445.000000
max,0.999956,165.000000,150.000000,75.000000,75917.000000,153235.000000

In [61]:
twitter_archive_clean.query('rating_frac == 26.0')

,tweet_id,timestamp,text,name,dog_stage,dog_breed,pred_conf,rating_numerator,rating_denominator,rating_frac,retweet_count,favorite_count
1195,680494726643068929,2015-12-25 21:06:00+00:00,Here we have uncovered an entire battalion of ...,None,NaN,kuvasz,0.438627,26,10,26.0,471,1673

# Storing the twitter_archive_clean to `twitter_archive_master.csv`

In [144]:
twitter_archive_clean.to_csv('twitter_archive_master.csv')